<div class="search-container">
  @if (lobbies.length > 0 && mainSet) {
    <div>
      <mat-card class="lobby-list">
        <mat-card-title>Available Lobbies:</mat-card-title>
        <mat-card-content>
          <mat-list>
            @for (lobby of lobbies; track $index) {
              <mat-list-item>
                <div>
                  <img [src]="lobby.host_character.image" />
                  <p>{{ lobby.host_username }}'s lobby</p>
                  <button
                    mat-flat-button
                    color="accent"
                    (click)="joinLobby(lobby.id)"
                  >
                    Join
                  </button>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>
            }
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  } @else {
    @if (mainSet) {
      <div class="no-lobbies">
        <p>No lobbies found.</p>
        <button
          class="reset-button"
          mat-flat-button
          color="primary"
          (click)="reset()"
        >
          Search Again
        </button>
      </div>
    } @else {
      <div class="no-lobbies">
        <p class="warning">You must set your main in your profile!</p>
        <button
          class="reset-button"
          mat-flat-button
          color="primary"
          (click)="goToProfile()"
        >
          Go to Profile
        </button>
      </div>
    }
  }
</div>
