.lobby-room {
  display: flex;
  justify-content: space-between;
  background-color: #121212;
  color: #e0e0e0;
  height: 100vh;
  flex-wrap: wrap;
  overflow-y: hidden;
}

.chat-box {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #222;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  height: fit-content;
}

.chat-box h3 {
  margin-bottom: 10px;
  color: #fff;
}

.messages {
  width: 100%;
  height: 400px;
  padding: 10px;
  overflow-y: scroll;
  margin-bottom: 10px;
  background-color: #333;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message-bubble {
  max-width: 60%;
  padding: 10px 15px;
  border-radius: 20px;
  color: #000000;
  word-wrap: break-word;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.message-right {
  align-self: flex-end;
  background-color: #ff00ff;
  color: black;
  border-bottom-right-radius: 0;
}

.message-left {
  align-self: flex-start;
  background-color: #00ffff;
  border-bottom-left-radius: 0;
}

.message-system {
  align-self: center;
  background-color: #585858;
}

.message-input {
  display: flex;
  width: 100%;
  align-items: center;
}

.message-input input {
  flex: 1;
  padding: 10px;
  font-size: 1em;
  margin-right: 10px;
  background-color: #444;
  border: 1px solid #555;
  border-radius: 20px;
  color: #ddd;
  outline: none;
}

.message-input input::placeholder {
  color: #888;
}

.message-input input:focus {
  background-color: #555;
  border-color: #666;
}

.message-input button {
  padding: 8px 12px;
  font-size: 0.9em;
  cursor: pointer;
  background-color: #ff00ff;
  color: black;
  border: none;
  border-radius: 20px;
  transition:
    background-color 0.3s,
    transform 0.2s,
    box-shadow 0.3s;
  outline: none;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.message-input button:hover,
.message-input button:focus {
  background-color: #ff00ff00;
  transform: translateY(-2px);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  outline: 2px solid #ff00ff;
  color: #ff00ff;
}

.side-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #222;
  margin-right: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  height: fit-content;
  margin-top: 20px;
}

.side-panel h3 {
  margin-bottom: 10px;
  color: #fff;
}

.side-panel h4,
.side-panel label {
  margin-bottom: 10px;
  color: #ccc;
}

/* Input and select fields */
.side-panel input,
.side-panel select {
  padding: 8px;
  font-size: 1em;
  background-color: #333;
  border: 1px solid #444;
  border-radius: 5px;
  color: #ddd;
  outline: none;
  flex: 1;
}

.side-panel input::placeholder {
  color: #888;
}

.side-panel input:focus,
.side-panel select:focus {
  background-color: #444;
  border-color: #555;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}

.form-group label {
  min-width: 120px;
}

.side-panel button {
  padding: 8px 12px;
  font-size: 0.9em;
  cursor: pointer;
  background-color: #00ffff;
  color: black;
  border: none;
  border-radius: 8px;
  transition:
    background-color 0.3s,
    transform 0.2s,
    box-shadow 0.3s;
  outline: none;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.control-panel-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.side-panel button:hover,
.side-panel button:focus {
  background-color: #00ffff00;
  transform: translateY(-2px);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  outline: 2px solid #00ffff;
  color: #00ffff;
}

.character-icon {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.host-character-icon {
  width: 40px;
  height: 40px;
}

.host-character-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.new-character-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.character-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transition: all 0.2s ease-out;
}

.character-icon:hover {
  transform: scale(1.1);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .lobby-room {
    padding: 10px;
  }

  .chat-box,
  .side-panel {
    width: 100%;
    margin-top: 0;
  }

  .messages {
    height: 250px;
  }

  .message-bubble {
    max-width: 80%;
  }

  .message-input button,
  .side-panel button {
    padding: 8px 16px;
    font-size: 0.9em;
  }

  .side-panel input,
  .message-input input {
    padding: 8px;
    font-size: 0.9em;
  }

  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-group label {
    margin-bottom: 5px;
  }
}
