<div class="lobby-room">
  <div class="chat-box">
    <h3>Lobby Chat</h3>
    <div class="messages" #messagesContainer>
      @for (message of messages; track $index) {
        @if (isMyMessage(message)) {
          <div class="message-right message-bubble">
            <div class="message-username">{{ message.username }}</div>
            <div class="message-content">{{ message.content }}</div>
          </div>
        } @else if (message.sender == 'System') {
          <div class="message-system message-bubble">
            <div class="message-content">{{ message.content }}</div>
          </div>
        } @else {
          <div class="message-left message-bubble">
            <div class="message-username">{{ message.username }}</div>
            <div class="message-content">{{ message.content }}</div>
          </div>
        }
      }
    </div>
    <div class="message-input">
      <input
        type="text"
        [(ngModel)]="newMessage"
        placeholder="Type your message..."
        (keyup.enter)="sendMessage()"
      />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>

  @if (isCreator) {
    <div class="side-panel">
      <h3>Lobby Control Panel</h3>
      <label for="lobbyName">Lobby Name:</label>
      <input
        type="text"
        id="lobbyName"
        [(ngModel)]="lobby.smash_lobby_id"
        placeholder="Lobby Name"
      />
      <label for="lobbyPassword">Lobby Password:</label>
      <input
        type="text"
        id="lobbyPassword"
        [(ngModel)]="lobby.smash_lobby_password"
        placeholder="Lobby Password"
      />
      <label for="userCharacter">Your Character:</label>
      <input
        type="text"
        id="userCharacter"
        [(ngModel)]="lobby.host_character"
        placeholder="Character"
      />
      <label for="newCharacter">Add Character:</label>
      <select id="newCharacter" [(ngModel)]="newSeekingCharacter" name="newCharacter">
        @for (character of characterList; track $index) {
          <option>{{ character }}</option>
        }
      </select>
      <button (click)="addSeekingCharacter()">Add Character</button>
    
      <h4>Current Characters:</h4>
      <ul>
        @for (character of lobby.seeking_characters; track $index) {
          <li>
          {{ character }} <button (click)="removeSeekingCharacter($index)">Remove</button>
          </li>
        }
      </ul>
      <button (click)="updateLobby()">Update Lobby</button>
      <button (click)="shutdownLobby()">Shutdown Lobby</button>
    </div>
  } @else {
    <div class="side-panel">
      <h3>Lobby Information</h3>
      <h4>Lobby ID: {{lobby.smash_lobby_id}}</h4>
      <h4>Lobby Password: {{lobby.smash_lobby_password}}</h4>
    </div>
  }
</div>
