<body>
  <div class="login-register-overlay">
    @if (loggedIn) {
      <p>
        Logged in as {{ username
        }}<button class="logout-button" (click)="logout()">Logout</button>
      </p>
    } @else {
      <button class="login-button" (click)="login()">Login</button>
      <button class="register-button" (click)="register()">Register</button>
    }
  </div>
  <div class="logo-container">
    <img src="Logo.png" alt="Logo" />
  </div>
  <h2>Build Matchup Experience</h2>
  <div class="button-container">
    <button class="search-button" (click)="searchbutton()">
      Search for MU
    </button>
    <button class="create-button" (click)="createbutton()">Create lobby</button>
  </div>
</body>
