<div class="logo-container">
  <img src="Colored Base Logo.png" alt="Logo" />
</div>

<div class="content-container">
  <h2>Smash<b>Ups</b></h2>
  <h3>Build Matchup Experience</h3>
  <div class="button-container">
    <button mat-flat-button color="primary" (click)="searchbutton()">
      Search for MU
    </button>
    <button mat-flat-button color="accent" (click)="createbutton()">
      Create Lobby
    </button>
  </div>
  @if (amountOfLobbies != -1) {
    <p>{{ amountOfLobbies }} Lobbies</p>
  }
</div>
