@import "../../../colors.scss";

/* General styles */
body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #121212;
  color: #e0e0e0;
}

.content-container {
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  color: #e0e0e0;
  margin-bottom: 0;
}

h3 {
  line-height: 1;
  color: #bdbdbd;
  margin-bottom: 20px;
  font-size: 12px;
}

p {
  font-size: 14px;
  margin-top: 16px;
  padding: 8px 14px;
  color: #e0e0e0;
  background-color: rgb(56, 47, 54);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.button-container button {
  margin-top: 10px;
}

.logo-container {
  display: flex;
  justify-content: center;
  max-width: 250px;
  margin: 48px auto 0;
}

.logo-container img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

@media (max-width: 600px) {
  .button-container {
    flex-direction: column;
  }
}
