<body>
    <div class="logo-container">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" viewBox="0 0 320 240" preserveAspectRatio="xMidYMid meet">
            <!-- Created with SVG-edit - https://github.com/SVG-Edit/svgedit-->
            <g class="layer">
                <title>Layer 1</title>
                <text fill="#00ffff" font-family="Fantasy" font-size="12" id="svg_4" stroke="#000000" stroke-width="0" text-anchor="middle" transform="matrix(15.0793 0 0 15.0793 -1602.73 -3196.57)" x="116.51" xml:space="preserve" y="226.65">SU</text>
                <text fill="#ff00ff" font-family="Fantasy" font-size="12" id="svg_5" stroke="#000000" stroke-width="0" text-anchor="middle" transform="matrix(15.0793 0 0 15.0793 -1592.73 -3197.6)" x="116.77" xml:space="preserve" y="225.72">SU</text>
                <text fill="#000000" font-family="Fantasy" font-size="12" id="svg_6" stroke="#000000" stroke-width="0" text-anchor="middle" transform="matrix(15.0793 0 0 15.0793 -1600.73 -3194.6)" x="116.84" xml:space="preserve" y="225.92">SU</text>
            </g>
        </svg>
      </div>
    <h2>Build Matchup Experience</h2>
    <div class="button-container">
        <button class="search-button" (click)="searchbutton();">Search for MU</button>
        <button class="create-button" (click)="createbutton();">Create lobby</button>
    </div>
</body>
