<div class="form-container">
  @if (mainSet) {
    <mat-card>
      <mat-card-title>Create a Lobby</mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()" #lobbyForm="ngForm">
          <div class="seeking-input">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Seeking Character</mat-label>
              <mat-select [(value)]="seekingCharacterIndex">
                @for (character of characterList; track $index) {
                  <mat-option [value]="$index">
                    {{ character.name }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
            <button
              mat-flat-button
              color="primary"
              type="button"
              (click)="onAddSeekingCharacter()"
            >
              Add
            </button>
          </div>

          <div class="character-icons">
            @for (character of lobby.seeking_characters; track $index) {
              <img
                [src]="character.image"
                alt="{{ character.name }}"
                class="character-icon"
                (click)="removeSeekingCharacter($index)"
              />
            }
          </div>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Lobby ID</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="lobby.smash_lobby_id"
              name="lobby_id"
              autocomplete="off"
              required
            />
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Lobby Password</mat-label>
            <input
              matInput
              type="password"
              [(ngModel)]="lobby.smash_lobby_password"
              name="lobby_password"
              autocomplete="off"
              required
            />
          </mat-form-field>

          @if (loading) {
            <div class="spinner-container">
              <mat-spinner color="accent" diameter="40"></mat-spinner>
            </div>
            <button mat-flat-button color="accent" type="submit">
              Create Lobby
            </button>
            <button mat-flat-button color="accent" type="submit" disabled>
              Create Lobby
            </button>
            <p>You must set your main in your profile.</p>
          }
        </form>
      </mat-card-content>
    </mat-card>
  } @else {
    <div class="main-not-set">
      <p class="warning">You must set your main in your profile!</p>
      <button
        class="reset-button"
        mat-flat-button
        color="primary"
        (click)="goToProfile()"
      >
        Go to Profile
      </button>
    </div>
  }
</div>
