<body>
  <div (click)="goHome()" class="logo-container">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" viewBox="0 0 320 240" preserveAspectRatio="xMidYMid meet">
        <!-- Created with SVG-edit - https://github.com/SVG-Edit/svgedit-->
        <g class="layer">
            <title>Layer 1</title>
            <text fill="#00ffff" font-family="Fantasy" font-size="12" id="svg_4" stroke="#000000" stroke-width="0" text-anchor="middle" transform="matrix(15.0793 0 0 15.0793 -1602.73 -3196.57)" x="116.51" xml:space="preserve" y="226.65">SU</text>
            <text fill="#ff00ff" font-family="Fantasy" font-size="12" id="svg_5" stroke="#000000" stroke-width="0" text-anchor="middle" transform="matrix(15.0793 0 0 15.0793 -1592.73 -3197.6)" x="116.77" xml:space="preserve" y="225.72">SU</text>
            <text fill="#000000" font-family="Fantasy" font-size="12" id="svg_6" stroke="#000000" stroke-width="0" text-anchor="middle" transform="matrix(15.0793 0 0 15.0793 -1600.73 -3194.6)" x="116.84" xml:space="preserve" y="225.92">SU</text>
        </g>
    </svg>
  </div>
  <div class="form-container">
    <h2>Create a Lobby</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Your Name:</label>
        <input type="text" id="username" [(ngModel)]="lobby.host_username" name="username" required>
      </div>
      
      <div class="form-group">
        <label for="user_character">Your Character:</label>
        <div class="character-select">
          <select id="user_character" [(ngModel)]="selectedCharacterIndex" name="user_character" (change)="updateSelectedCharacter()" required>
            @for (character of characterList; track $index) {
              <option [value]="$index">{{ character.name }}</option>
            }
          </select>
          <img [src]="lobby.host_character.image" alt="{{ lobby.host_character.name }}" class="character-image">
        </div>
      </div>
      
      <div class="form-group">
        <label for="seeking_character">Seeking Character:</label>
        <div class="seeking-input">
          <select id="seeking_character" [(ngModel)]="seekingCharacterIndex" name="seeking_character">
            @for (character of characterList; track $index) {
              <option [value]="$index">{{ character.name }}</option>
            }
          </select>
          <button type="button" class="addbtn" (click)="onAddSeekingCharacter()">Add</button>
        </div>
        <div class="character-icons">
          @for (character of lobby.seeking_characters; track $index) {
            <img
               [src]="character.image"
               alt="{{ character.name }}"
               class="character-icon"
               (click)="removeSeekingCharacter($index)">
          }
        </div>
      </div>
      
  
      <div class="form-group">
        <label for="lobby_id">Lobby ID:</label>
        <input type="text" id="lobby_id" [(ngModel)]="lobby.smash_lobby_id" name="lobby_id" required>
      </div>
  
      <div class="form-group">
        <label for="lobby_password">Lobby Password:</label>
        <input type="password" id="lobby_password" [(ngModel)]="lobby.smash_lobby_password" name="lobby_password" required>
      </div>
  
      <button type="submit" class="btn">Create Lobby</button>
    </form>
  </div>
</body>
